<table class="table">
  <thead>
    <th> Name </th>
    <th> Type </th>
    <th> Owner </th>
    <th> Action </th>
  </thead>
  <tbody>
  {{#each item in pagedContent}}
  <tr>
    <td> {{item.name }}</td>
    <td> {{item.resource_type}}</td>
    <td> {{item.owner_name}}</td>
    <td> <a href="#" {{action 'issueItem' item.id}} class="btn btn-primary">Issue</a>
    </td>
  </tr>
  {{/each}}
  </tbody>
</table>
{{page-numbers content=pagedContent}}
